<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/home">Home</a></li>
    <li role="presentation"><a href="/Inicio">Ver Diapositivas</a></li>
    <li role="presentation"><a href="/Estructura">Ver Grafo</a></li>
  </ul>

</head>
<body>
    <div class="container">
    <form action="/agregar" method="POST">
        <div class="form-group">
          <label for="nombre">Nombre de la diapositiva</label>
          <input type="text" class="form-control" name="nombre" id="nombre">
        </div>
        <button type="submit" class="btn btn-default">Crear Nodo</button>
      </form>

      <form  action="/unir" method="POST">
        <div class="form-group">
          <label for="a">Nodo 1</label>
          <select class="form-control" name="a">
            {%if grupo1%}
            {%for nodo in grupo1%}
            <option value="{{nodo}}">{{nodo}}</option>
            {%endfor%}
            {%else%}
            <option >Ya no hay</option>
            {%endif%}
          </select>
          <label for="b">Nodo 2</label>
          <select class="form-control"name="b">
            {%if grupo2%}
            {%for nodo1 in grupo2%}
            <option value="{{nodo1}}">{{nodo1}}</option>
            {%endfor%}
            {%else%}
            <option >Ya no hay</option>
            {%endif%}
          </select>
        </div>
        <button type="submit" class="btn btn-default">Crear Union</button>
      </form>
      <form action="/info" method="POST">
      <div class="form-group">
        <label for="a">Nodo</label>
        <select class="form-control" name="nodo">
          {%if grupo3%}
          {%for nodo in grupo3%}
          <option value="{{nodo}}">{{nodo}}</option>
          {%endfor%}
          {%else%}
          <option >Vacio</option>
          {%endif%}
        </select>
        <br>
        <button type="submit" class="btn btn-default">Editar</button>
      </div>
      
      
      </form>

      <table class="table table-bordered">
        <thead>
            <tr>
                <td>Nodo</td>
                {%if columnas%}
                {%for columna in columnas%}
                    <td>{{columna}}</td>
                {%endfor%}
                {%else%}
                <td>Aun no hay nodos</td>
                {%endif%}
            </tr>
        </thead>
        <tbody>
            {%for dato in matris%}
            <tr>
              {%for d in dato%}
                <td>{{d}}</td>
              {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
      </table>
    </div>


</body>
</html>